In [1]:
#Import the libraries that we could need in this pill
import numpy as np
import pandas as pd
import os

In [2]:
#First, we use this code to know in what directory we are working
os.getcwd()

'C:\\Users\\macka\\GitHub\\Python-Exercises\\Modulo 2-Numpy\\Pill_Airports'

## 1. Loading of the dataset as a dataframe.

In [3]:
#Checking the datas, we can see that the separator is ";": 
df_airports=pd.read_csv('airports.csv', sep=";");df_airports

,AirportID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,TZ,Type,source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081.689.834.590.000,145.391.998.291,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-520.707.988.739,145.789.001.465,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826.789.855.957.030,14.429.600.524.902.300,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569.803,146.725.977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443.380.355.834.960,14.722.000.122.070.300,146,10,U,Pacific/Port_Moresby,airport,OurAirports
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12663,14107,Ulan-Ude East Airport,Ulan Ude,Russia,\N,XIUW,51.849.998.474.121.000,10.773.799.896.240.200,1670,\N,\N,\N,airport,OurAirports
12664,14108,Krechevitsy Air Base,Novgorod,Russia,\N,ULLK,58.625,31.385.000.228.881.800,85,\N,\N,\N,airport,OurAirports
12665,14109,Desierto de Atacama Airport,Copiapo,Chile,CPO,SCAT,-272.611.999.512,-707.791.976.929,670,\N,\N,\N,airport,OurAirports
12666,14110,Melitopol Air Base,Melitopol,Ukraine,\N,UKDM,46.880.001,35.305,0,\N,\N,\N,airport,OurAirports
12667,14111,Lincoln Train Station LNK,Lincoln,United States,\N,\N,40.815.833,-96.713.889,1176,-5,A,\N,\N,\N

In [4]:
#Show a general information about the dataframe loaded.
df_airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12668 entries, 0 to 12667
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AirportID  12668 non-null  int64
 1   Name       12668 non-null  object
 2   City       12619 non-null  object
 3   Country    12668 non-null  object
 4   IATA       12668 non-null  object
 5   ICAO       12667 non-null  object
 6   Latitude   12668 non-null  object
 7   Longitude  12668 non-null  object
 8   Altitude   12668 non-null  int64
 9   Timezone   12668 non-null  object
 10  DST        12668 non-null  object
 11  TZ         12668 non-null  object
 12  Type       12668 non-null  object
 13  source     12668 non-null  object
dtypes: int64(2), object(12)
memory usage: 1.4+ MB

## 2. Shows the first 10 rows of the dataframe.

In [5]:
df_airports[0:10]

,AirportID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,TZ,Type,source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081.689.834.590.000,145.391.998.291,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-520.707.988.739,145.789.001.465,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826.789.855.957.030,14.429.600.524.902.300,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569.803,146.725.977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443.380.355.834.960,14.722.000.122.070.300,146,10,U,Pacific/Port_Moresby,airport,OurAirports
5,6,Wewak International Airport,Wewak,Papua New Guinea,WWK,AYWK,-358.383.011.818,143.669.006.348,19,10,U,Pacific/Port_Moresby,airport,OurAirports
6,7,Narsarsuaq Airport,Narssarssuaq,Greenland,UAK,BGBW,611.604.995.728,-454.259.986.877,112,-3,E,America/Godthab,airport,OurAirports
7,8,Godthaab / Nuuk Airport,Godthaab,Greenland,GOH,BGGH,6.419.090.271,-516.781.005.859,283,-3,E,America/Godthab,airport,OurAirports
8,9,Kangerlussuaq Airport,Sondrestrom,Greenland,SFJ,BGSF,670.122.218.992,-507.116.031.647,165,-3,E,America/Godthab,airport,OurAirports
9,10,Thule Air Base,Thule,Greenland,THU,BGTL,765.311.965.942,-687.032.012.939,251,-4,E,America/Thule,airport,OurAirports

## 3. Get a statistical summary.

In [6]:
#We
df_airports.describe()

          AirportID      Altitude
count  12668.000000  12668.000000
mean    7311.584465    831.871093
std     4202.520098   1498.239733
min        1.000000  -1266.000000
25%     3349.750000     38.000000
50%     7771.500000    232.500000
75%    10943.250000    883.500000
max    14111.000000  14472.000000

In this case, de summary only show the statistical about two columns, which are integers columns.

## 4. For this analysis we are not going to use the 'AirportID', 'Latitude', 'Longitude' and 'Altitude' columns, remove them from the dataframe.

In [7]:
df_airports.columns

Index(['AirportID', 'Name', 'City', 'Country', 'IATA', 'ICAO', 'Latitude',
       'Longitude', 'Altitude', 'Timezone', 'DST', 'TZ', 'Type', 'source'],
      dtype='object')

In [8]:
df_airpots_first_clean=df_airports.drop(['AirportID','Latitude','Longitude','Altitude'],axis=1).copy();df_airpots_first_clean

,Name,City,Country,IATA,ICAO,Timezone,DST,TZ,Type,source
0,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,10,U,Pacific/Port_Moresby,airport,OurAirports
1,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,10,U,Pacific/Port_Moresby,airport,OurAirports
2,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,10,U,Pacific/Port_Moresby,airport,OurAirports
3,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,10,U,Pacific/Port_Moresby,airport,OurAirports
4,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,10,U,Pacific/Port_Moresby,airport,OurAirports
...,...,...,...,...,...,...,...,...,...,...
12663,Ulan-Ude East Airport,Ulan Ude,Russia,\N,XIUW,\N,\N,\N,airport,OurAirports
12664,Krechevitsy Air Base,Novgorod,Russia,\N,ULLK,\N,\N,\N,airport,OurAirports
12665,Desierto de Atacama Airport,Copiapo,Chile,CPO,SCAT,\N,\N,\N,airport,OurAirports
12666,Melitopol Air Base,Melitopol,Ukraine,\N,UKDM,\N,\N,\N,airport,OurAirports
12667,Lincoln Train Station LNK,Lincoln,United States,\N,\N,-5,A,\N,\N,\N

## 5. Get a statistical summary again, how has the data changed?

In [9]:
df_airpots_first_clean.describe()

,Name,City,Country,IATA,ICAO,Timezone,DST,TZ,Type,source
count,12668,12619,12668,12668,12667,12668,12668,12668,12668,12668
unique,12330,9673,241,6925,8161,42,8,312,5,4
top,North Sea,New York,United States,\N,\N,1,E,\N,airport,OurAirports
freq,21,50,2708,5744,4507,2706,3478,4282,8264,7698

In [10]:
df_airpots_first_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12668 entries, 0 to 12667
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      12668 non-null  object
 1   City      12619 non-null  object
 2   Country   12668 non-null  object
 3   IATA      12668 non-null  object
 4   ICAO      12667 non-null  object
 5   Timezone  12668 non-null  object
 6   DST       12668 non-null  object
 7   TZ        12668 non-null  object
 8   Type      12668 non-null  object
 9   source    12668 non-null  object
dtypes: object(10)
memory usage: 989.8+ KB

In [11]:
df_airports.describe()

          AirportID      Altitude
count  12668.000000  12668.000000
mean    7311.584465    831.871093
std     4202.520098   1498.239733
min        1.000000  -1266.000000
25%     3349.750000     38.000000
50%     7771.500000    232.500000
75%    10943.250000    883.500000
max    14111.000000  14472.000000

In [12]:
df_airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12668 entries, 0 to 12667
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AirportID  12668 non-null  int64
 1   Name       12668 non-null  object
 2   City       12619 non-null  object
 3   Country    12668 non-null  object
 4   IATA       12668 non-null  object
 5   ICAO       12667 non-null  object
 6   Latitude   12668 non-null  object
 7   Longitude  12668 non-null  object
 8   Altitude   12668 non-null  int64
 9   Timezone   12668 non-null  object
 10  DST        12668 non-null  object
 11  TZ         12668 non-null  object
 12  Type       12668 non-null  object
 13  source     12668 non-null  object
dtypes: int64(2), object(12)
memory usage: 1.4+ MB

Using the ".info" function in both dataframes we can observe the following: the Dtypes of the "df_airporst" are int64 and object, taking into account that pandas prioritizes the numerical values, it only performs the "summary" of this numerical data. On the other hand, all the Dtypes of the df_airpots_first_clean dataframe are object and therefore it categorizes them, so we can obtain numerical values.

## 6. On the statistical summary above it seems that in column TZ there is a rare value \N,check the proportion of them with value_counts.

In [13]:
df_airpots_first_clean.TZ.value_counts()

\N                    4282
America/New_York       705
America/Chicago        402
Europe/Berlin          323
America/Anchorage      265
                      ...
Europe/Kaliningrad       1
Africa/Bujumbura         1
Africa/Banjul            1
Indian/Mayotte           1
Europe/Andorra           1
Name: TZ, Length: 312, dtype: int64

In [14]:
df_airpots_first_clean.TZ.value_counts(normalize=True)

\N                    0.338017
America/New_York      0.055652
America/Chicago       0.031734
Europe/Berlin         0.025497
America/Anchorage     0.020919
                        ...
Europe/Kaliningrad    0.000079
Africa/Bujumbura      0.000079
Africa/Banjul         0.000079
Indian/Mayotte        0.000079
Europe/Andorra        0.000079
Name: TZ, Length: 312, dtype: float64

## 7. Reload the dataset so that null values are correctly interpreted (repeat section 4, delete columns).

In [15]:
df_airports_2=pd.read_csv('airports.csv', sep=";",na_values='\\N');df_airports_2.head()

,AirportID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,TZ,Type,source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081.689.834.590.000,145.391.998.291,5282,10.0,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-520.707.988.739,145.789.001.465,20,10.0,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826.789.855.957.030,14.429.600.524.902.300,5388,10.0,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569.803,146.725.977,239,10.0,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443.380.355.834.960,14.722.000.122.070.300,146,10.0,U,Pacific/Port_Moresby,airport,OurAirports

In [16]:
df_airports_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12668 entries, 0 to 12667
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AirportID  12668 non-null  int64
 1   Name       12668 non-null  object
 2   City       12619 non-null  object
 3   Country    12668 non-null  object
 4   IATA       6924 non-null   object
 5   ICAO       8160 non-null   object
 6   Latitude   12668 non-null  object
 7   Longitude  12668 non-null  object
 8   Altitude   12668 non-null  int64
 9   Timezone   12315 non-null  float64
 10  DST        12315 non-null  object
 11  TZ         8386 non-null   object
 12  Type       11017 non-null  object
 13  source     11017 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 1.4+ MB

In [17]:
df_airpots_2_clean=df_airports_2.drop(['AirportID','Latitude','Longitude','Altitude'],axis=1).copy();df_airpots_2_clean.head()

,Name,City,Country,IATA,ICAO,Timezone,DST,TZ,Type,source
0,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,10.0,U,Pacific/Port_Moresby,airport,OurAirports
1,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,10.0,U,Pacific/Port_Moresby,airport,OurAirports
2,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,10.0,U,Pacific/Port_Moresby,airport,OurAirports
3,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,10.0,U,Pacific/Port_Moresby,airport,OurAirports
4,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,10.0,U,Pacific/Port_Moresby,airport,OurAirports

In [18]:
df_airpots_2_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12668 entries, 0 to 12667
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      12668 non-null  object
 1   City      12619 non-null  object
 2   Country   12668 non-null  object
 3   IATA      6924 non-null   object
 4   ICAO      8160 non-null   object
 5   Timezone  12315 non-null  float64
 6   DST       12315 non-null  object
 7   TZ        8386 non-null   object
 8   Type      11017 non-null  object
 9   source    11017 non-null  object
dtypes: float64(1), object(9)
memory usage: 989.8+ KB

## 8. Checks the entire dataframe for null values.

In [19]:
values_null=df_airpots_2_clean.isna().sum().sum(); values_null

18591

In [20]:
df_airpots_2_clean[df_airpots_2_clean.columns].isna().sum()

Name           0
City          49
Country        0
IATA        5744
ICAO        4508
Timezone     353
DST          353
TZ          4282
Type        1651
source      1651
dtype: int64

## 9. Overwrites the null values of the IATA and ICAO columns with the value 'UNKNOWN'

In [21]:
df_airpots_2_clean.IATA=df_airpots_2_clean.IATA.fillna('UNKNOWN')
df_airpots_2_clean.IATA=df_airpots_2_clean.ICAO.fillna('UNKNOWN')
df_airpots_2_clean[["IATA","ICAO"]]

          IATA  ICAO
0         AYGA  AYGA
1         AYMD  AYMD
2         AYMH  AYMH
3         AYNZ  AYNZ
4         AYPY  AYPY
...        ...   ...
12663     XIUW  XIUW
12664     ULLK  ULLK
12665     SCAT  SCAT
12666     UKDM  UKDM
12667  UNKNOWN   NaN

[12668 rows x 2 columns]

## 10. Changes the type of the DST and TZ variables to categorical.

In [22]:
df_airpots_2_clean["DST"]=pd.Categorical(df_airpots_2_clean["DST"])
df_airpots_2_clean["TZ"]=pd.Categorical(df_airpots_2_clean["TZ"])
df_airpots_2_clean

,Name,City,Country,IATA,ICAO,Timezone,DST,TZ,Type,source
0,Goroka Airport,Goroka,Papua New Guinea,AYGA,AYGA,10.0,U,Pacific/Port_Moresby,airport,OurAirports
1,Madang Airport,Madang,Papua New Guinea,AYMD,AYMD,10.0,U,Pacific/Port_Moresby,airport,OurAirports
2,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,AYMH,AYMH,10.0,U,Pacific/Port_Moresby,airport,OurAirports
3,Nadzab Airport,Nadzab,Papua New Guinea,AYNZ,AYNZ,10.0,U,Pacific/Port_Moresby,airport,OurAirports
4,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,AYPY,AYPY,10.0,U,Pacific/Port_Moresby,airport,OurAirports
...,...,...,...,...,...,...,...,...,...,...
12663,Ulan-Ude East Airport,Ulan Ude,Russia,XIUW,XIUW,NaN,NaN,NaN,airport,OurAirports
12664,Krechevitsy Air Base,Novgorod,Russia,ULLK,ULLK,NaN,NaN,NaN,airport,OurAirports
12665,Desierto de Atacama Airport,Copiapo,Chile,SCAT,SCAT,NaN,NaN,NaN,airport,OurAirports
12666,Melitopol Air Base,Melitopol,Ukraine,UKDM,UKDM,NaN,NaN,NaN,airport,OurAirports
12667,Lincoln Train Station LNK,Lincoln,United States,UNKNOWN,NaN,-5.0,A,NaN,NaN,NaN

In [23]:
df_airpots_2_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12668 entries, 0 to 12667
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      12668 non-null  object
 1   City      12619 non-null  object
 2   Country   12668 non-null  object
 3   IATA      12668 non-null  object
 4   ICAO      8160 non-null   object
 5   Timezone  12315 non-null  float64
 6   DST       12315 non-null  category
 7   TZ        8386 non-null   category
 8   Type      11017 non-null  object
 9   source    11017 non-null  object
dtypes: category(2), float64(1), object(7)
memory usage: 839.9+ KB

## 11. Obtain a statistical summary of the categorical variables.

In [24]:
df_airpots_2_clean.describe(include="category")

          DST                TZ
count   12315              8386
unique      7               311
top         E  America/New_York
freq     3478               705

## 12. Groups the dataframe by airport type, showing the type count.

In [25]:
df_airpots_2_clean.groupby(["Type"]).count()["Name"]

Type
airport    8264
port        101
station    1332
unknown    1320
Name: Name, dtype: int64

## 13. Select the name of the cities whose airport type is "port"

In [26]:
list(df_airpots_2_clean.City[(df_airpots_2_clean["Type"] == "port")])

['Macau',
 'Stockholm',
 'Helsingborg',
 'Helsinki',
 'Sakaiminato',
 'Hong Kong',
 'Hong Kong',
 'Macau',
 'Macau',
 'Calais',
 'Dover',
 'Hong Kong',
 'Cape May NJ',
 'Lewes DE',
 'Bar Harbor ME',
 'Yarmouth NS',
 'St. Ignace MI',
 'Shenzhen',
 'Zhuhai',
 'Miyajima',
 'Brown Bluff',
 'Devil Island',
 'Gourdin Island',
 'Cuverville Island',
 'Labadee',
 'Whittier',
 'Nuernberg',
 'Costa maya',
 'Costa maya',
 'Rodby',
 'Stranraer',
 'Dieppe',
 'Newhaven',
 'Falmouth',
 'Cozumel',
 'Philipsburg',
 'Basseterre',
 'Charlotte Amalie',
 'San Juan',
 'Mormugao',
 'Cochin',
 'Salem',
 'Severobajkalsk',
 'Kendall',
 "St. George's",
 'Cruz Bay',
 'Red Hook',
 'Anacortes',
 'Friday Harbor',
 'Whittier',
 'Valdez',
 'Bainbridge Island',
 'Algerciras',
 'Milan',
 'Port Jefferson',
 'Bridgeport',
 'Turin',
 'Stykkisholmur',
 'Kotor',
 'Key West',
 'Tau',
 'Stavanger',
 'Halhjem',
 'Sandviksvag',
 'Arsvagen',
 'Mortavika',
 'Verona',
 'Cheboygan',
 'Bois Blanc Island',
 'St Ignace ',
 'Toulon',
 'Hong Kong',
 'Hong Kong',
 'Harpers Ferry',
 'Auckland',
 'Bridgetown',
 'Orient',
 'Macau',
 'Holyhead',
 'Singapore',
 'Batam',
 'Kowloon',
 'Horseshoe Bay',
 'Prince Rupert',
 'Prince Rupert',
 'Port Hardy',
 'Nanaimo',
 'Saint Johns',
 'Pointe-a-Pitre',
 'Scarborough',
 'Willemstad',
 'Oranjestad',
 'La Romana',
 'Mazatlan',
 'Topolobampo',
 'Quebec',
 'Ludington',
 'Manitowoc',
 'Shenzhen',
 'Osaka',
 'Fukuoka']

## 14. Shows all the rows of the fields name of the airport, name of the country and, name of the city, whose country is Spain.

In [27]:
df_airpots_2_clean.columns

Index(['Name', 'City', 'Country', 'IATA', 'ICAO', 'Timezone', 'DST', 'TZ',
       'Type', 'source'],
      dtype='object')

In [39]:
df_airpots_2_clean.loc[:,['Name','Country','City']][df_airpots_2_clean["Country"] == "Spain"]

                                         Name Country                    City
1030                    Fuerteventura Airport   Spain           Fuerteventura
1031                           Hierro Airport   Spain                  Hierro
1032                         La Palma Airport   Spain  Santa Cruz De La Palma
1033                     Gran Canaria Airport   Spain            Gran Canaria
1034                        Lanzarote Airport   Spain                Arrecife
...                                       ...     ...                     ...
11437                     Madrid Estacion Sur   Spain                  Madrid
11438                     Granada Bus Station   Spain                 Granada
11879       Palma de Mallorca Cruise Terminal   Spain       Palma de Mallorca
12234                      Algeciras Heliport   Spain               Algeciras
12386  RegiÃ³n de Murcia International Airport   Spain                  Murcia

[145 rows x 3 columns]

## 15. Shows the name of the country and the airport belonging to the city of Madrid and Barcelona. Are all the records from Spain?

In [29]:
df_airpots_2_clean

,Name,City,Country,IATA,ICAO,Timezone,DST,TZ,Type,source
0,Goroka Airport,Goroka,Papua New Guinea,AYGA,AYGA,10.0,U,Pacific/Port_Moresby,airport,OurAirports
1,Madang Airport,Madang,Papua New Guinea,AYMD,AYMD,10.0,U,Pacific/Port_Moresby,airport,OurAirports
2,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,AYMH,AYMH,10.0,U,Pacific/Port_Moresby,airport,OurAirports
3,Nadzab Airport,Nadzab,Papua New Guinea,AYNZ,AYNZ,10.0,U,Pacific/Port_Moresby,airport,OurAirports
4,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,AYPY,AYPY,10.0,U,Pacific/Port_Moresby,airport,OurAirports
...,...,...,...,...,...,...,...,...,...,...
12663,Ulan-Ude East Airport,Ulan Ude,Russia,XIUW,XIUW,NaN,NaN,NaN,airport,OurAirports
12664,Krechevitsy Air Base,Novgorod,Russia,ULLK,ULLK,NaN,NaN,NaN,airport,OurAirports
12665,Desierto de Atacama Airport,Copiapo,Chile,SCAT,SCAT,NaN,NaN,NaN,airport,OurAirports
12666,Melitopol Air Base,Melitopol,Ukraine,UKDM,UKDM,NaN,NaN,NaN,airport,OurAirports
12667,Lincoln Train Station LNK,Lincoln,United States,UNKNOWN,NaN,-5.0,A,NaN,NaN,NaN

In [30]:
df_madrid_barcelona=df_airpots_2_clean.loc[:,['Country','Name']][(df_airpots_2_clean["City"] == "Madrid")|(df_airpots_2_clean["City"] == "Barcelona")];df_madrid_barcelona

         Country                                               Name
1188       Spain                    Barcelona International Airport
1194       Spain                                    Getafe Air Base
1198       Spain               Adolfo SuÃ¡rez Madridâ€“Barajas Airport
1214       Spain                                   TorrejÃ³n Airport
1217       Spain                                     Cuatro Vientos
2690   Venezuela  General JosÃ© Antonio Anzoategui International ...
6302       Spain                          Barcelona Cruise Terminal
8046       Spain                                             Atocha
8053       Spain                                  Chamartin Station
8055       Spain                                           Aeroport
8056       Spain                                  Passeig de Gracia
8057       Spain                                              Sants
8846       Spain                                    Barajas Station
9156       Spain                         Aeropuerto T4 Madrid Metro
10033      Spain                                  Estacio de Franca
10264      Spain                            Placa d Espanya Station
10435      Spain                             Cuatro Vientos Airport
11435      Spain                                    Barcelona-Sants
11437      Spain                                Madrid Estacion Sur

In [31]:
df_madrid_barcelona.Country.value_counts()

Spain        18
Venezuela     1
Name: Country, dtype: int64

## 16. Save the previous results in a csv called Madrid_Barcelona.csv

In [32]:
df_madrid_barcelona.to_csv("Madrid_Barcelona.csv", index=None, sep=",")